.content-heading{
    margin-bottom:10px;
}

.main-content-heading{
    padding:0 30px;
}

.content-wrap{
    padding-left:20px;
}

.inline-it{
    display: inline-block !important;
}


.margin-left-20{
    margin-left: 20px;
}
.margin-left-10{
    margin-left: 20px;
}
.margin-left-5{
    margin-left: 20px;
}


.debug{
    color: #ff5700;
}


.red-text{
    color: #ff5700;
}

.white-background{
	background: #ffffff;
	border:none;
	color: black;
}

.font25px{
	font-size: 25px;
	
}
.overlap10px{
	margin-left: -10px;
}

.mouse-pointer{
	cursor: pointer;
}	

.zindexup10{
	z-index: 1010;
}